<template>
  <div>
    <stock v-for="stock in stocks" :stock="stock" :key="stock.id"></stock>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Stock from './Stock'
export default {
  name: 'Portfolio',
  components: { Stock },
  computed: {
    ...mapGetters({
      stocks: 'stockPortfolio'
    })
  }
}
</script>
