<template>
  <div>
    <stock v-for="stock in stocks" :key="stock.id" :stock="stock"></stock>
  </div>
</template>

<script>
import Stock from './Stock'
import { mapGetters } from 'vuex'
export default {
  name: 'Stocks',
  components: { Stock },
  computed: {
    ...mapGetters(['stocks'])
  }
}
</script>

<style scoped></style>
