<template lang="pug">
nav.navbar.navbar-default
  .containter-fluid
    .navbar-header
      router-link.navbar-brand(to="/") Stock Trader
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        router-link(to="/portfolio" active-class="active" tag="li")
          a Portfolio
        router-link(to="/stocks" active-class="active" tag="li")
          a Stocks
      strong.navbar-text.navbar-right Funds: {{funds | currency}}
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#" @click="endDay") End Day
        li.dropdown(:class="{open: isDropdownOpen}" @click="isDropdownOpen = !isDropdownOpen")
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Save & Load
            span.caret
          ul.dropdown-menu
            li
              a(href="#" @click="saveData") Save Data
            li
              a(href="#" @click="loadTheData") Load Data
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'TheHeader',
  data() {
    return {
      isDropdownOpen: false
    }
  },
  computed: {
    funds() {
      return this.$store.getters.funds
    }
  },
  methods: {
    ...mapActions({
      randomizeStocks: 'randomizeStocks',
      fetchData: 'loadData'
    }),
    endDay() {
      this.randomizeStocks()
    },
    saveData() {
      const data = {
        funds: this.$store.getters.funds,
        stockPortfolio: this.$store.getters.stockPortfolio,
        stocks: this.$store.getters.stocks
      }
      this.$http.put('data.json', data)
    },
    loadTheData() {
      this.fetchData()
    }
  }
}
</script>

<style></style>
