<template lang="pug">
.container
  the-header
  .row
    .col-xs-12
      transition(name="slide" mode="out-in")
        router-view
</template>

<script>
import TheHeader from './components/TheHeader'
export default {
  name: 'App',
  components: { TheHeader },
  created() {
    this.$store.dispatch('initStocks')
  }
}
</script>

<style>
body {
  padding: 30px;
}
.slide-enter-active {
  animation: slide-in 200ms ease-out forwards;
}
.slide-leave-active {
  animation: slide-out 200ms ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
</style>
